.body {
  height: 100%;
  background-image: url("/backg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /*to create parallax*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: visible; /*to make long page*/
}
