.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.header__menu-button {
  border: 3px solid white;
  padding: 10px 20px;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
  color: white;
  cursor: pointer;
  background: transparent;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header__get-started {
  border: 3px solid white;
  padding: 10px 20px;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
  color: white;
  cursor: pointer;
  background: transparent;
  border-radius: 0.375rem;
}

.header__menu-button-svg {
  flex-shrink: 0;
  width: 24px;
  height: 40px;
}

.header__logo-container {
  flex: 1;
  text-align: center;
}

.header__main-title {
  margin-bottom: 200px;
}

.header__main-heading {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header__headline {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
}
