.outdoor-cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}

.outdoor-cards__heading {
  text-align: center;
  margin-top: 12rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(248 250 252);
}

.outdoor-cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  overflow: hidden;
  width: 28%;
}

.outdoor-cards__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.outdoor-cards__image:hover {
  opacity: 0.5;
}

.outdoor-cards__id {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

@media (max-width: 600px) {
  .outdoor-cards__container {
    flex-direction: column;
    align-items: center;
  }

  .outdoor-cards__card {
    width: 80%;
    margin-bottom: 16px;
  }
}
