.room-cards {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  max-height: 50%;
}
.room-card {
  background-color: #eee;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.room-card__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

.room-card__id {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}
@media only screen and (min-width: 769px) {
  .room-card {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
