.room {
  display: flex;
  flex-direction: column;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  backdrop-filter: blur(1.5px);
  align-items: center;
}

.room__image {
  border-radius: 0.375rem;
}

.room__title {
  margin-top: 2.05rem;
  color: rgb(241 245 249);
}

.room__description {
  margin-top: 0.5rem;
  color: rgb(241 245 249);
}
